# API
WP_API_URL=http://localhost:8000
WP_API_USER=Firstname.Lastname
WP_API_PASS=123-Asd

# DB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=wordpress
DB_USER=wordpress
DB_PASS=wordpress

# Yandex Disk
YANDEX_DISK_API_URL=https://cloud-api.yandex.net
YANDEX_DISK_AUTH_TOKEN=your_yandex_disk_auth_token
